# Core
python-dotenv>=1.0.0
pydantic>=2.0.0
pydantic-settings>=2.0.0

# AI/RAG
llama-index>=0.10.0
llama-parse>=0.4.0
qdrant-client>=1.9.0
fastembed>=0.3.0
cohere>=5.5.0
openai>=1.30.0

# Auth
python-jose[cryptography]>=3.3.0
groq>=0.9.0

# Evaluation & UI
fastapi>=0.111.0
uvicorn>=0.30.0

# Ingestion Parsing
pymupdf>=1.24.0
pandas>=2.0.0
openpyxl>=3.1.0

# Agentic Workflow (LangGraph & LangChain)
langgraph>=0.2.0
langchain-core>=0.2.0
langchain-openai>=0.1.0

